<html>
<head>
	<link rel = "stylesheet"
	href = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
	<script src="admin.js"></script>
	<script src="app.js"></script>
</head>
<body ng-app= "myApp" ng-cloak>
	<script type="text/ng-template" id="admin.html">
		<div class= "demo">
			<section layout = "row" layout-sm = "column" layout-align = "center center"
			layout-wrap>
				<md-toolbar class= "md-warn">
					<div class = "md-toolbar-tools">
						<h2 class = "md-flex">User List!</h2>
						<span flex></span>
						<!-- <md-button class="md-background" aria-label="More"
	        				ng-click="showMenu($event, more)">
	        				<md-icon md-svg-icon="icon/icons8-user-face.svg"></md-icon>
	      				</md-button> -->
						<md-icon md-svg-src= "icon/icons8-user-face.svg"></md-icon>
						<a href= "logoutForm.php">Sign Out</a>
					</div>
				</md-toolbar>				
						
				<table>
					<tr>
						<th></th>
					</tr>
					<tr ng-repeat= "user in users">
						<td>{{user.username}}</td>
						<td><md-button class= "md-raised md-primary" ng-click= "editData(user.id, user.username)">Edit</md-button>
							<md-button class= "md-raised md-primary" ng-click= "deleteData(user.id)">Delete</md-button>
						</td>
					</tr>			
				</table>
				<div class= "editShowHide" ng-show= "showEdit">
					<form name= "editForm">	
						<md-input-container class= "md-block">
							<md-icon md-svg-src= "icon/icons8-user-face.svg"></md-icon>
							<label>Username</label>
							<input type= "text" name= "username" ng-model= "usernameForEdit" required>
							<div ng-messages= "editForm.username.$error">
								<div ng-message='required'>Username is required</div>
							</div>
						</md-input-container>
						<md-input-container class= "md-block">
							<md-button class= "md-raised md-primary" ng-disabled= "editForm.$invalid" ng-click= "editUsername()">Edit</md-button>
						</md-input-container>
					</form>
				</div>	
			</section>
		</div>
	</script>
</body>
</html>	
