<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet"
	href = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
	<script src="login.js"></script>
	<script src="app.js"></script>
</head>
<body ng-app= "myApp">
	<script type="text/ng-template" id="login.html">
		<div class= "practice">
			<section layout = "row" layout-sm = "column" layout-align = "center center"
			layout-wrap>
				<md-toolbar class= "md-warn">
					<div class = "md-toolbar-tools">
						<h2 class = "md-flex">Login Here!</h2>
					</div>
				</md-toolbar>
				<form name= "signIn">	
					<md-input-container class= "md-block">
						<md-icon md-svg-src= "icon/icons8-user-face.svg"></md-icon>
						<label>Username</label>
						<input type= "text" name= "username" ng-model= "username" required>
						<div ng-messages= "signIn.username.$error">
							<div ng-message='required'>Username is required</div>
						</div>
					</md-input-container>
					<md-input-container  class= "md-block">
						<md-icon md-svg-src= "icon/icons8-encrypt.svg"></md-icon>
						<label>Password</label>
						<input type= "password" name= "password" ng-model= "password" minlength= '8' required>
						<div ng-messages= "signIn.password.$error">
							<div ng-message-exp="['required', 'minlength']">Password is required and must be valid</div>
						</div>
					</md-input-container>
					<md-input-container class= "md-block">
						<md-button class= "md-raised md-primary" ng-disabled= "signIn.$invalid" ng-click= "loginAccount()">Sign Up</md-button>
					</md-input-container>
					<br>
					<h2>To Register An Account</h2><md-button class="md-raised md-warn" 
					href= "registration.html">Click Here!</md-button>
				</form>
			</section>
		</div>
	</script>
</body>
</html>	