<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet"
	href = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
	<script src="registration.js"></script>
	<script src="app.js"></script>
</head>
<body ng-app= "myApp">
	<script type="text/ng-template" id="registration.html">
		<div class= "demo">
			<section layout = "row" layout-sm = "column" layout-align = "center center"
			layout-wrap>
				<md-toolbar class= "md-warn">
					<div class = "md-toolbar-tools">
						<h2 class = "md-flex">Register Here!</h2>
					</div>
				</md-toolbar>
				<form name= "signUp">
					<md-input-container class= "md-block">
						<md-icon md-svg-src= "icon/icons8-user-male.svg"></md-icon>
						<label>Name</label>
						<input type= "text" name= "name" ng-model= "name" required>
						<div ng-messages="signUp.name.$error">
							<div ng-message='required'>Name is required</div>
						</div>
					</md-input-container>	
					<md-input-container class= "md-block">
						<md-icon md-svg-src= "icon/icons8-gmail.svg"></md-icon>
						<label>email</label>
						<input type= "email" name= "email" ng-model= "email" minlength= '10' maxlength= '50'  ng-pattern = "/^.+@.+\..+$/" required>
						<div ng-messages= "signUp.email.$error">
							<div ng-message-exp= "['required', 'maxlength', 'pattern']">Email is required and Email addresses must conform to RFC 2822</div>
							
						</div>	
					</md-input-container>
					<md-input-container class= "md-block">
						<md-icon md-svg-src= "icon/icons8-user-face.svg"></md-icon>
						<label>Username</label>
						<input type= "text" name= "username" ng-model= "username" required>
						<div ng-messages= "signUp.username.$error">
							<div ng-message='required'>Username is required</div>
						</div>
					</md-input-container>
					<md-input-container class= "md-block">
						<md-icon md-svg-src= "icon/icons8-encrypt.svg"></md-icon>
						<label>Password</label>
						<input type= "password" name= "password" ng-model= "password" minlength= '8' required>
						<div ng-messages= "signUp.password.$error">
							<div ng-message-exp="['required', 'minlength']">Password is required and must be 8 characters long</div>
						</div>
					</md-input-container>
					<md-input-container class= "md-block">
						<md-button class= "md-raised md-primary" ng-disabled= "signUp.$invalid" ng-click= "createAccount()">Sign Up</md-button>
					</md-input-container>
				</form>
			</section>
		</div>
	</script>
</body>
</html>