<html>
<head>
	<link rel = "stylesheet"
	href = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
	<script src="userDetails.js"></script>
	<script src="app.js"></script>
</head>
<body ng-app= "myApp" ng-cloak>
	<script type="text/ng-template" id="userDetails.html">
		<div class= "userlist">
			<section layout = "row" layout-sm = "column" layout-align = "center center"
			layout-wrap>
				<md-toolbar class= "md-warn">
					<div class = "md-toolbar-tools">
						<h2 class = "md-flex">User Details!</h2>
						<span flex></span>
						<a href= "logoutForm.php">Sign Out</a>
					</div>
				</md-toolbar>
				<br><br>
				<table>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Username</th>
					</tr>
					<tr ng-repeat= "user in userInfo">
						
						<td>{{user.name}}</td>
						<td>{{user.email}}</td><br>
						<td>{{user.username}}</td>
					</tr>		
				</table>
			</section>
		</div>
</script>
</body>
</html>	